name: Dump env/context
run-name: Dump (${{ github.event_name }})
on:
  push: {}
  pull_request: {}
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod
      noop:
        description: Dry run - skip pushing changes to ACR or infra repo
        required: true
        default: false
        type: boolean
      arbitrary:
        description: Arbitrary string
        required: true
        default: foobar
        type: string

  schedule:
    - cron: "0 0 */30 * *"
  check_run:
    types:
      - created
      - rerequested
      - completed
      - requested_action
  check_suite:
    types:
      - completed
  workflow_run:
    workflows: ["The showdown"]
    types: [completed]
    branches: [master]
  issue_comment:
    types: [created]
jobs:
  build_no_cache:
    runs-on: ubuntu-latest
    steps:
      - name: Set some output
        id: test-output
        run: echo "something=someone" >> "$GITHUB_OUTPUT"
      - name: Set some other output
        run: echo "konata=izumi" >> "$GITHUB_OUTPUT"
      - name: Dump github context
        run:   echo "$GITHUB_CONTEXT" | tee context.json
        shell: bash
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}

      - name: Dump env
        run: env | tee github_env.env

      - name: Dump github context (javascript)
        uses: actions/github-script@v7
        with:
          script: |
            console.log('inputs:', { ...context.payload.inputs })
            console.log('context:', context)

      - name: Upload github context
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            context.json
            github_env.env

        
