name: Dump env/context
on:
  # push: {}
  pull_request: {}
  workflow_dispatch:
  schedule:
    - cron: "0 0 */30 * *"
  check_run:
  check_suite:
jobs:
  build_no_cache:
    runs-on: ubuntu-latest
    steps:
      - name: Dump github context
        run:   echo "$GITHUB_CONTEXT" | tee context.json
        shell: bash
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}

      - name: Dump env
        run: env | tee github_env.env

      - name: Upload github context
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            context.json
            github_env.env
